<section id="gt-fact" class="gt-section" style="margin-top: 100px;">

	<header id="gt-section-header">
		<h2 class="section-title border"><span>Hành tinh trong hệ mặt trời</span></h2>
		<p class="section-sub-title">Thông số về các hành tinh và các thành phần liên quan trong hệ mặt trời</p>
	</header>

	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><%= link_to "Dữ liệu hệ mặt trời", planets_path %></li>
	</ol>

	<div class="gt-section-content">
		<% @planets.each do |planet| %>
		<div class="entry">
			<div class="entry-inner">
				<div class="entry-media">
					<img src="<%= planet.avatar %>" alt="">
				</div>
				<div class="entry-content">
					<h3 class="title"><%= link_to planet.name, { :controller => "planet", :action => "detail", :id => planet }, class: "gt-button" %></h3>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</section>