<header id="gt-header">
	<button type="button" class="ht-navbar-toggle" data-target="#gt-main-nav">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar icon-bar-1"></span>
		<span class="icon-bar icon-bar-2"></span>
		<span class="icon-bar icon-bar-3"></span>
	</button>
	<h1 class="site-title"><a href="index.html">Astronomy</a></h1>
	<p class="sub-site-title">Trang thông tin thiên văn học</p>
	<div class="planet-avatar" style="background-image: url('images/low-poly-sun.png'); box-shadow: 0px 0px 100px rgba(255, 152, 48, 0.5);"></div>
</header>

<section id="gt-fact" class="gt-section">

	<header id="gt-section-header">
		<h2 class="section-title border"><span>Trái đất</span></h2>
		<p class="section-sub-title">Culpa et voluptatum, aliquam deserunt quibusdam facere odio.</p>
	</header>

	<div class="gt-section-content">
		<div class="entry-single">
			<div class="entry-table">
				<div class="table-responsive">
					<table class="table">
					<!-- <caption>Optional table caption.</caption> -->
					<thead>
					<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					</tr>
					</thead>
					<tbody>
					<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					</tr>
					<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
					</tr>
					<tr>
					<td>3</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
			<div class="entry-content">
				<h3>Lịch sử hình thành</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente mollitia dolores ut nesciunt saepe minima numquam fugit, eligendi, odit nisi optio minus illo ea possimus repellat unde! Cumque, facere voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eaque voluptatum perspiciatis iusto laboriosam recusandae vel alias ab modi, sed accusantium velit sunt magni eius quis distinctio, odio aspernatur sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At officia, expedita inventore reiciendis nisi repudiandae autem similique incidunt, nesciunt iste laboriosam molestias amet vero eligendi! Cupiditate tempore sapiente hic saepe.</p>
				<br />
				<h3>Các giai đoạn</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente mollitia dolores ut nesciunt saepe minima numquam fugit, eligendi, odit nisi optio minus illo ea possimus repellat unde! Cumque, facere voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eaque voluptatum perspiciatis iusto laboriosam recusandae vel alias ab modi, sed accusantium velit sunt magni eius quis distinctio, odio aspernatur sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At officia, expedita inventore reiciendis nisi repudiandae autem similique incidunt, nesciunt iste laboriosam molestias amet vero eligendi! Cupiditate tempore sapiente hic saepe.</p>
				<br />
				<h3>Dự đoán tương lai</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente mollitia dolores ut nesciunt saepe minima numquam fugit, eligendi, odit nisi optio minus illo ea possimus repellat unde! Cumque, facere voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eaque voluptatum perspiciatis iusto laboriosam recusandae vel alias ab modi, sed accusantium velit sunt magni eius quis distinctio, odio aspernatur sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At officia, expedita inventore reiciendis nisi repudiandae autem similique incidunt, nesciunt iste laboriosam molestias amet vero eligendi! Cupiditate tempore sapiente hic saepe.</p>
			</div>
		</div>
	</div>
</section>