<section id="gt-features" class="gt-section">

	<header id="gt-section-header">
		<h2 class="section-title border"><span>Giới thiệu</span></h2>
		<p class="section-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!</p>
	</header>

	<div class="gt-section-content row">
		<div class="entry">
			<a href="planet/all" class="icon-wrapper facts">
				<div class="fa fa-globe"></div>
			</a>
			<h3>Dữ liệu hệ mặt trời</h3>
			<p>Cùng tìm hiểu thông tin và số liệu về các hành tinh và vệ tinh của chúng</p>
		</div>
		<div class="entry">
			<a href="blog/all" class="icon-wrapper posts">
				<div class="fa fa-newspaper-o"></div>
			</a>
			<h3>Bài viết</h3>
			<p>Các bài viết liên quan đến hệ mặt trời cũng như các thành phần của hệ mặt trời</p>
		</div>
		<div class="entry">
			<a href="about" class="icon-wrapper about">
				<div class="fa fa-heart-o"></div>
			</a>
			<h3>Thông tin</h3>
			<p>Đội ngũ phát triển dự án. Liên hệ với chúng tôi :)</p>
		</div>
	</div>
</section>