<section id="gt-features" class="gt-section">

	<header id="gt-section-header">
		<h2 class="section-title border"><span>Giới thiệu</span></h2>
		<p class="section-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro consectetur!</p>
	</header>

	<div class="gt-section-content row">
		<div class="entry">
			<%= link_to planets_path, class: "icon-wrapper facts" do %>
				<div class="orbit"><div class="orbit-inner"></div></div>
				<div class="icon-inner">
					<div class="fa fa-globe"></div>
				</div>
			<% end %>
			<h3>Dữ liệu hệ mặt trời</h3>
			<p>Cùng tìm hiểu thông tin và số liệu về các hành tinh và vệ tinh của chúng</p>
		</div>
		<div class="entry">
			<%= link_to articles_path, class: "icon-wrapper posts" do %>
				<div class="orbit"><div class="orbit-inner"></div></div>
				<div class="icon-inner">
					<div class="fa fa-newspaper-o"></div>
				</div>
			<% end %>
			<h3>Bài viết</h3>
			<p>Các bài viết liên quan đến hệ mặt trời cũng như các thành phần của hệ mặt trời</p>
		</div>
		<div class="entry">
			<%= link_to planets_path, class: "icon-wrapper about" do %>
				<div class="orbit"><div class="orbit-inner"></div></div>
				<div class="icon-inner">
					<div class="fa fa-heart-o"></div>
				</div>
			<% end %>
			<h3>Thông tin</h3>
			<p>Đội ngũ phát triển dự án. Kết bạn với chúng tôi :)</p>
		</div>
	</div>
</section>