<section style="margin: 50px 0 50px;">
	<div id="gt-text">
		<div class="container">
			<h2 class="section-title border"><span>Dịch vụ web</span></h2>
			<p class="section-sub-title">Website của chúng tôi cung cấp dịch vụ lấy dữ liệu rất tiện dụng. Dữ liệu trả về là dạng json, rất linh động hiện nay</p>
		</div>
	</div>
</section>

<section>
	<div class="container" style="max-width: 970px">
		<b style="font-size: 20px;">Để sử dụng dịch vụ web của chúng tôi:</b><br>
		<br><span style="padding-left: 20px;">
		Bước 1: Bạn truy cập vào trang chủ (<'tên miền'>) của chúng tôi, truy cập tiếp vào trang dữ liệu bằng cách thêm "/data" vào cuối địa chỉ:</span><br>
		<span style="padding-left: 70px;"><'tên miền'>/data</span>
		<br><span style="padding-left: 20px;">
		Bước 2: Bạn có thể lấy được bất cứ dữ liệu nào bạn muốn bằng cách thêm câu lệnh vào sau "<'tên miền'>/data":
		<br></span><br>
		<span style="padding-left: 70px;"><b>/query?q='kho dữ liệu'&'trường dữ liệu'='giá trị trường dữ liệu'</b></span><br>
		<br>
		<span style="padding-left: 70px;">VD:</span> <'tên miền'>/data/query?p=planet&name=Trái+Đất <br>
			<span style="padding-left: 70px;">or:  <'tên miền'>/data/query?p=planet&name=Sao+Hải+Vương</span> <br>
			<span style="padding-left: 100px;">Trong đó:	<'tên miền'> : địa chỉ trang chủ<br></span>
			<span style="padding-left: 165px;">		planet : kho dữ liệu </span><br>		
			<span style="padding-left: 165px;">		name: trường dữ liệu </span><br>
			<span style="padding-left: 165px;">		Trái+Đất: giá trị của trường dữ liệu 'name' </span><br>
			<span style="padding-left: 165px;">		(Lưu ý: Bạn cần ghi đúng chữ in hoa, tiếng việt có dấu và thay dấu cách ' ' bằng dấu '+') </span><br>
		<br>
	</div>
</section>