<section style="margin: 50px 0 50px;">
	<div id="gt-text">
		<div class="container">
			<h2 class="section-title border"><span>Dịch vụ web</span></h2>
			<p class="section-sub-title">Website của chúng tôi cung cấp dịch vụ lấy dữ liệu rất tiện dụng. Dữ liệu trả về là dạng json, rất linh động hiện nay</p>
		</div>
	</div>
</section>

<section>
	<div class="container" style="max-width: 970px">
		Để sử dụng dịch vụ web của chúng tôi:
		<br>
	</div>
</section>