<header id="gt-header">
	<h1 class="site-title"><a href="/">Astronomy</a></h1>
	<p class="sub-site-title">Trang thông tin thiên văn học</p>
	<div class="planet-avatar" style="<%= @planet_avatar %>"></div>
</header>