<nav id="gt-main-nav">

	<div class="nav-title"><span>Menu</span></div>

	<form class="search" action="">
		<input type="text">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	
	<ul class="main-nav">
		<li>
			<a href="">Dữ liệu hệ mặt trời</a>
			<ul class="sub-menu">
				<li><a href="#">Sao Kim</a></li>
				<li><a href="#">Sao Thủy</a></li>
				<li><a href="#">Trái Đất</a></li>
				<li><a href="#">Sao Hỏa</a></li>
				<li><a href="#">Sao Thổ</a></li>
				<li><a href="#">Sao Mộc</a></li>
				<li><a href="#">Sao Hải Vương</a></li>
				<li><a href="#">Sao Thiên Vương</a></li>
				<li><a href="#">Sao Diêm Vương</a></li>
			</ul>
		</li>
		<li><a href="">Bài viết</a></li>
		<li><a href="">Giới thiệu</a></li>
		<li><a href="">Liên hệ</a></li>
	</ul>
</nav>