<nav id="gt-main-nav">

	<div class="nav-title"><span>Menu</span></div>

	<form class="search" action="">
		<input type="text">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	
	<ul class="main-nav">
		<li><%= link_to "Dữ liệu hệ mặt trời", planets_path %></li>
		<li><a href=""><%= link_to "Bài viết", articles_path %></a></li>
		<li><a href="">Giới thiệu</a></li>
		<li><a href="">Liên hệ</a></li>
	</ul>
</nav>